<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Account" asp-action="GetAuthors">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Account" asp-action="GetEditors">Editors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Account" asp-action="GetUsers">Users</a>
    </li>
</ul>