@model string

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Article" asp-action="GetArticles">Get All Articles</a>
    </li>
    @if (Model == "Author")
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Article" asp-action="CreateArticle">Create Article</a>
        </li>
    }
</ul>