<partial name="_menuAccounts" />

<div class="container-fluid">
    <div class="panel panel-danger">
        <div class="panel-header">
            <h3>
                Access Denied
                <div style="margin-top:5px">Login as a different user</div>
            </h3>
        </div>
    </div>
</div>